

form{
    direction: rtl !important;
    font-family: 'iran-sans';
    width: 90%;
}

.login-box{
    background: var(--text-color-white);
    height: max-content;
    width: max-content;
    border-radius: 15px;
    padding: 20px 30px;
}

.login-block{
    background: var(--text-color-white);
    height: max-content;
    width: max-content;
    border-radius: 15px;
    margin: 45px 0;
    padding: 65px 0;
    box-shadow: 0  0 15px var(--color-secondary);
}

.login-block img{
    width: 100%;
}

.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    direction: rtl;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-primary{
    background: var(--color-secondary) !important;
}