.table_block thead tr{
  background: var(--color-secondary);
    color: var(--text-color-white);
    border-radius: 15px;
}

.table_block tbody tr:nth-child(odd){
    background-color: var(--background-color-primary);
    color: var(--color-dark);
}