body {
    margin: 0;
    background:  var(--background-color-primary)!important;
    font-family: "Regular", "Bold",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

code {
    font-family: 'iran-sans', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
    font-family: 'iran-sans' ;
    src: url("./assets/fonts/IRANSansWeb(FaNum).woff");
    font-weight: normal;
}

@font-face {
    font-family: 'iran-sans' ;
    src: url("./assets/fonts/IRANSansWeb(FaNum) Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Regular";
    src: url("assets/fonts/IRANSansWeb(FaNum).woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Bold";
    src: url("assets/fonts/IRANSansWeb(FaNum) Bold.woff") format("woff");
    font-weight: bold;
}

a {
    font-family: iran-sans;
    text-decoration: none !important;
}

.color-white{
    color: white !important;
}

:root {
    --color-primary: #222d32;
    --hover-primary: #1c2528;
    --color-secondary: #0D6DFD;
    --color-dark: #1C1B1F;
    --text-color-primary: #b8c7ce;
    --text-color-secondary: #4b646f;
    --text-color-white: #ffff;
    --color-danger: #DC3545;
    --color-success: #28A745;
    --color-warning: #FFC107;
    --background-color-primary: #ecf0f5;
    --primary-border-color: #d2d6de;
    --background-light-black: rgba(0, 0, 0, 0.1);
    font-family: iran-sans;
    direction: rtl;
}